body div#alert-box {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px #000000 solid;
    border-radius: 50px;
    width: 50%;
    height: 30%;
    line-height: 2.8em;
    font-size: 2.5em;
    top : 35%;
    left: 25%;
}

body div#alert-box button{
    font-size: .5em;
    width: 25%;
    height: 2.5em;
    margin: 0 8% 0 8%;
    border-radius: 9px;
    background-color: #FFD100;
    border : 2px #000000 solid;
    cursor: pointer;
    display: none;
}