div#search-frame {
  display: inline-block;
  text-align: center;
  width: 50%;
  height : 3em;
  margin: 0 0 1% 0;
  padding: .5% 0 .5% 0;
  background-color: #FFD100;
  border: 1px solid #000000;
  /* background-color: transparent; */
}

div#sort-frame {
  display: inline-block;
  text-align: center;
  width: 15%;
  height : 3em;
  margin: 0 0 1% 0;
  padding: .5% 0 .5% 0;
  background-color: #FFD100;
  border: 1px solid #000000;
  /* background-color: transparent; */
}

div#search-frame input {
  width: 80%;
  height: 90%;
  font-size: 1.5em;
  border: 1px solid #000000;
  border-radius: 10px;
  /* background-color: transparent; */
  /* border: none; */
}

div#search-frame input:focus {
  outline: none;
}

div#search-frame button {
  background-color: none;
  border: 1px #000000 solid;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 0 0 2%;
  padding: 1% 1% 1% 1%;
  background-color: #FFFFFF;
  color: #000000;
}

select#sort-list{
  background-color: none;
  border: 1px #000000 solid;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  height: 90%;
  width: 90%;
  margin: 2% 0 0 0;
  padding: 2% 1% 2% 1%;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}