div#form {
    display: none;
}

div#form form div#image-drop-frame div#image-drop {
    text-align: left;
}

div#form form div#image-drop-frame div#image-drop img#image-preview {
    display: inline-block;
    width: 40%;
    margin: 2.5% 0 0 5%;
}
